<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.todo" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional
--><uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/todo"
        android:roundIcon="@drawable/todo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".todoMain.ui.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.ui.LoginActivity"
        />

        <activity android:name=".todoMain.ui.TodoNotesActivity"
            android:theme="@style/homeTheme"
            android:label="@string/notes"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <activity android:name=".registration.ui.RegistrationActivity"  />
        <activity android:name=".todoMain.ui.ResetPasswordActivity"/>
        <activity android:name=".todoMain.ui.NotesItemDetailsActivity"/>
        <activity android:name=".todoMain.ui.NotesAddActivity"/>
        <fragment android:name=".fragment.MyFragment"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <receiver android:name=".todoMain.ui.NotesAddActivity" />
    </application>

</manifest>